@import '../header';
@import './search-area';

@mixin mainArea {
   .main-area{
       width: 100%;
       height: 40em;
       background-image: url('../../../images/bg.png');
        @include header();
        @include searchArea();
   }
}