@mixin searchArea {
    .search-area{
        width: 100%;
        height: 36.5em;
        @include flexCenter();
        .search-container{
            width: 40%;
            height: 20%;
            margin: 0 auto;
            overflow: hidden;
            @include flexCenter();

            .search-box{
                width: 100%;
                height: 50%;
                background-color: rgba(0, 0, 0, 0.651);
                border: 1px solid rgba(163, 163, 163, 0.774);
                border-radius: 5px;
                display: grid;
                grid-template-columns: 8.4fr 0.1fr 1.5fr;
                grid-template-rows: 100%;
                grid-template-areas: "input borders button";

                .sb-input{
                    grid-area: input;

                    .input-box{
                        width: 100%;
                        height: 100%;
                        background: transparent;
                        outline: none;
                        color: white;
                        padding: 0 10px;
                        font-size: 1.5vw;
                        font-weight: lighter;

                    }
                    
                }
                .sb-border{
                    grid-area: borders;
                    @include flexCenter();
                    .little-border{
                        width: 2px;
                        height: 1.5em;
                        background-color: white;
                    }
                }
                .sb-search-btn{
                    grid-area: button;
                    @include flexCenter();
                    .search-btn{
                        width: 100%;
                        height: 100%;
                        background-image: url("./../../../images/search.svg");
                        background-position: center;
                        background-repeat: no-repeat;
                        background-color: transparent;
                        background-size: 50% 70%;
                    }
                }
            }
        }
    }
}